.modal-syle{
    height: 100px;
    width: 100px;
}

.modal-content{
    margin-top: 40%;
    width: 100%;
}

@media only screen and (max-width: 420px){
    .modal-content{
        margin-top: 60%;
        width: 100%;
    }
}